# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\003_sideProject\000_web\000_java\000_spring\workspace\spring_boot\spring-boot-getting-start\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
